.App {
  margin-top: 2%;
  overflow: scroll;
}
.comp {
  width: 33.333%;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.521);
  width: 200px;
}
footer {
  background-color: burlywood;
  text-align: center;
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 3%;
  margin-right: 3%;
  min-width: 500px;
}
.btnadd {
  min-width: 150px;
}

.amount {
  text-align: center;
}
.description {
  text-align: center;
}
.date {
  text-align: center;
}
.btndelete {
  width: 30px;
  height: 30px;
}

li {
  list-style: none;
}
